/*General*/
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: #555;
    background: linear-gradient(to right, #10002b, #7b2cbf);
}
header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.3em;
    width: 25px;
    height: 25px;
}
header button:hover {
    cursor: pointer;
}
img {
    max-width: 100;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    color: #fff;
    background-color: #333;
    /* text-align: center;  */
    /* position: relative; */
    /* text-align: end; */
}
.contenedor-iconos {
    position: relative;
}
.contador-producto {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contadorCarrito{
    font-size: 10px;
}
.contenedor-carrito {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #59189ace;
    border: 1px solid #240046;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.carrito-producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.info-producto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.8;
}
.titulo-producto-carrito {
    font-size: 20px;
}
.precio-total {

}
.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}
.boton-x {
    width: 25px;
    height: 25px;
}
.boton-x:hover {
    stroke: red;
    cursor: pointer;
}
.precio-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.precio-total h3 {
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.ocultar-carrito {
    display: none;
}
section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.producto {
    color: #fff;
    width: 14%;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #444;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
button {
    background: black;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    color: #fff;
    cursor: pointer;

}
footer {
    background-color: #333;
    color: #fff;
    padding: 3px;
    text-align: center;
    bottom: 0;
    width: 99.5%;
}
.registro {
    display: none;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    background-color: #59189ace;
    border: 1px solid #240046;
    z-index: 999;
    color: #ffffff;
}
.registro h2 {
    text-align: center;
}
.registro label {
    display: block;
    margin-top: 10px;
}
.registro input {
    width: 95%;
    padding: 2px;
    margin-top: 5px;
}
.registro input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-style: ridge;
}